<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ghibli Library</title>
</head>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    body {
        background-image: url('BG.png');
    }

    li {
        list-style-type: none;
    }

    .image {
        max-width: 10%;
    }

    .movieContainer {
        display: flex;
        flex-direction: row;
        gap: 1em;
        font-family: 'Inter';
    }

    footer {
        height: 70px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(15px);
    }

    .footer {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        font-family: 'Inter';
    }

    .createdImage {
        height: 30px;
        object-fit: contain;
    }

    header {
        height: 120px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(15px);
    }

    .headerImg {
        height: 100px;
    }

    .header {
        margin-left: 5%;
        margin-right: 5%;
    }
</style>


<header>
    <div class="header">
        <img class="headerImg" src="logo.svg"/>
    </div>
</header>
<body>
    <h1>all ghibli films</h1>
    <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                <div class="movieContainer">
                    <img class="image"
                        src="https://m.media-amazon.com/images/M/MV5BYzJjMTYyMjQtZDI0My00ZjE2LTkyNGYtOTllNGQxNDMyZjE0XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg">
                    <div>
                        Title: <%= movie.title %><br>
                            Director: <%= movie.director %><br>
                                Producer: <%= movie.producer %><br>
                    </div>
                </div>
            </li>
            <% }); %>
    </ul>
</body>
<footer>
    <div class="footer">
        <p>API Used</p>
        <img class="createdImage" src="created.svg">
    </div>
</footer>

</html>