ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

body {
    background-image: url('/public/BG.png');
    background-repeat: no-repeat;
    animation: animationBG 75s linear infinite;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    margin-left: 0;
}

li {
    list-style-type: none;
}

.image {
    max-width: 10%;
}

.heartImg {
    height: 2em;
    width: 2em;
    object-fit: contain;
}


.movieContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-family: 'Inter';
}

/*FOOTER */
footer {
    height: 70px;
    background: rgba(24, 78, 117, 0.3);
    backdrop-filter: blur(5px);
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    font-family: 'Inter';
    margin-left: 8%;
    margin-right: 8%;
}

.createdImage {
    height: 50px;
    object-fit: contain;
}

/*HEADER*/
header {
    height: 120px;
    background: rgba(24, 78, 117, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerImg {
    height: 100px;
}

.header {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

/*ADD FILM CONTAINER*/
.filmForm,
.leftCol,
.rightCol {
    display: flex;
    flex-direction: column;
}

.xf {
    display: flex;
    flex-direction: column;
    background: rgba(24, 78, 117, 0.3);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(105px);
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5em;
    border-radius: 20px;
}

.addFilmImg {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 300px;
}

.filmForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 4%;
    margin-right: 4%;
    gap: 2em;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.addFilmContainer {
    font-family: 'Inter';
    color: white;
}

.addButton {
    background-color: #51CDFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    width: 170px;
}

.addButton:hover {
    background-color: #008bc2;
    transition: 300ms;
    cursor: pointer;
}

.left {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Inter';
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 0.25em;
}

input,
textarea {
    border-radius: 20px;
    border: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    font-family: 'Inter';
}

textarea {
    min-height: 90px;
}

/*Edit & Delete buttons */
.editButton {
    background-color: #51CDFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-top: 1em;
    min-width: 100px;
}

.editButton:hover {
    background-color: #008bc2;
    transition: 300ms;
    cursor: pointer;
}

.delete {
    background-color: #008bc2;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-top: 1em;
    width: 100px;
}

.delete:hover {
    background-color: #51CDFF;
    transition: 300ms;
    cursor: pointer;
}

/*Movie List*/
.movieListContainer {
    display: flex;
    flex-direction: column;
    background: rgba(24, 78, 117, 0.3);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(105px);
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5em;
    border-radius: 20px;
    margin-bottom: 5em;
}

.movieContainer {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-left: 1%;
    margin-right: 4%;
    align-items: flex-start;
}

.movieInfo {
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-bottom: 3em;
}

.movieTitle {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 1em;
}

.movieImage {
    width: 15%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    vertical-align: top;
}

.allFilmImg {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-left: 2%;
}

/*Edit Form */
.edit {
    width: 500px;
}

.closeButton {
    background-color: #008bc2;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-top: 1em;
    width: 180px;
}

.closeButton:hover {
    background-color: #51CDFF;
    transition: 300ms;
    cursor: pointer;
}

/*for background to move */
@keyframes animationBG {
    0% {
        background-position: 0% 0;
    }

    50% {
        background-position: 80% 0;
    }

    100% {
        background-position: 0% 0;
    }
}

/* Mobile Size (iPhone XR) */
@media (max-width: 600px) {
    .filmForm {
        display: grid;
        margin: 0 5%;
        gap: 1em;
        grid-template-columns: none;
    }

    .movieImage {
        width: 40%;
    }

    .movieTitle {
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 2em;
        position: absolute;
    }

    .movieInfo {
        width: 90%; 
        margin: 0 auto; 
        font-size: 14px; 
    }

    .movieContainer {
        flex-wrap: wrap;
    }
}