ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

body {
    background-image: url('/public/BG.png');
}

li {
    list-style-type: none;
}

.image {
    max-width: 10%;
}

.heartImg{
    height: 2em;
    width: 2em;
    object-fit: contain;
}


.movieContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-family: 'Inter';
}

footer {
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(15px);
}

.footer {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-family: 'Inter';
}

.createdImage {
    height: 30px;
    object-fit: contain;
}

header {
    height: 120px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(15px);
}

.headerImg {
    height: 100px;
}

.header {
    margin-left: 5%;
    margin-right: 5%;
}


/*ADD FILM CONTAINER*/
.filmForm,
.leftCol,
.rightCol{
    display: flex;
    flex-direction: column;
}

.topRightCol,
.outerContainer{
    display: flex;
    flex-direction: row;
}

.inputContainer{
    display: flex;
    flex-direction: column;
}